.inner-addon {
  position: relative;
}
.inner-addon .icon {
  color: black;
  position: absolute;
  pointer-events: none;
  padding: 8px;
  background-color: #ccc;
}

.inner-addon input {
  width: 20vw;
  padding: 9px 9px 10px 25px;
  border: 1px #bbb solid;
}

.text {
  padding: 15px;
  height: 50px;
  width: 20vw;
  border: 1px #bbb solid;
}

.basicButton {
  min-width: 22vw;
  height: 30px;
  border-radius: 15px;
  border: 1px #bbb solid;
  background-color: #fff;
  transition: all 0.5s ease;
}

.basicButton:hover {
  cursor: pointer;
  background-color: #bbb;
  color: #fff;
}
